.inventoryPricing{
    .heading{
        font-weight: 600;
        font-size: 24px;
        color: #16063C;

    }
    .txt{
        font-weight: 400;
        font-size: 16px;
        color: #16063C;

    }
    .txtField{
        width: 649px;
        height: 56px;
        background: #F9F9FC;


border: 1px solid #E1E1EF;
border-radius: 8px;
    }
}